<h1>
    Data Kendaraan {{ $jenis_mobil->nama_jenis }}
</h1>

<a href="{{ route('posko.jenis-mobil.kendaraan.create',[$posko->id,$jenis_mobil->id]) }}">
    Tambah Kendaraan
</a>
<a href="{{ route('posko.jenis-mobil.index',[$posko->id,$jenis_mobil->id]) }}">kembali</a>
<br><br>

<table border="1" cellpadding="10">

    <tr>
        <th>Gambar</th>
        <th>Mobil</th>
        <th>Deskripsi</th>
        {{-- <th>Status</th> --}}
        <th>Aksi</th>
        <th>Peralatan</th>
        <th>Kondisi</th>
        
    </tr>

    @foreach ($kendaraan as $item)

    <tr>

        <td>

            @if ($item->gambar)

                <img src="{{ asset('storage/' . $item->gambar) }}"
                     width="120">

            @endif

        </td>


        <td>{{ $item->nomor_polisi }}</td>
        <td>{{ $item->deskripsi }}</td>
        {{-- <td>{{ $item->status }}</td> --}}
        <td><a href="{{ route('posko.jenis-mobil.kendaraan.edit',[$posko->id, $jenis_mobil->id, $item->id]) }}">Edit</a>
            <form action="{{ route('posko.jenis-mobil.kendaraan.destroy',[$posko->id, $jenis_mobil->id, $item->id]) }}"
            method="POST">
                @csrf
                @method('DELETE')
                <button type="submit">
                    Hapus
                </button>

            </form>

        </td>
        <td>
           <a href="{{ route('posko.jenis-mobil.kendaraan.peralatan.index',[$posko->id,$jenis_mobil->id, $item->id]) }}">Peralatan</a> 
        </td>
         <td>
           <a href="{{ route('posko.jenis-mobil.kendaraan.kondisi.index',[$posko->id, $jenis_mobil->id, $item->id]) }}">Kondisi</a> 
        </td>
        
    </tr>

    @endforeach

</table>
<br>

{{ $kendaraan->links() }}